*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    width: 100%;
    /* position: fixed; */
    /* margin-bottom: 5%; */
}

body {
    --color: rgba(30, 30, 30);
    --bgColor: rgba(245, 245, 245);
    /* min-height: 100vh; */
    /* display: grid; */
    align-content: center;
    /* gap: 2rem; */
    font-family: "Poppins", sans-serif;
    color: var(--color);
    background: var(--bgColor);
  }

img {
    width: 30vh;
    height: 60vh;
    margin: 0vh 10vh 3vh 10vh;
}

.demoCalendar{
    display: flex;
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
}
.demoCalendar p{
    text-align: center;
    margin: auto 0;
    margin-left: 5vw;
    margin-right: 5vw;
}


.demoSetting{
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
}
.demoSetting p{
    text-align: center;
    margin: auto 0;
    margin-left: 5vw;
    margin-right: 5vw;
}

.logoImg{
    width: 30vh;
    height: 60vh;
}

.demoStart{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 15vh;
}

.demoStart h2{
    text-align: center;
    margin: auto 0;
    margin-left: 5vw;
}

.downloadIcons {
    align-items: center;
    width: 30vh;
    height: 10vh;
    margin: 0;
}
.downloadButtons{
    margin-top: 2vh;
}
