img {
    width: 30vh;
    height: 60vh;
    margin: 0vh 10vh 3vh 10vh;
}

.demoCalendar{
    display: flex;
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
}
.demoCalendar p{
    text-align: center;
    margin: auto 0;
    margin-left: 5vw;
    margin-right: 5vw;
}


.demoSetting{
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
}
.demoSetting p{
    text-align: center;
    margin: auto 0;
    margin-left: 5vw;
    margin-right: 5vw;
}

.logoImg{
    width: 30vh;
    height: 60vh;
}

.demoStart{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 15vh;
}

.demoStart h2{
    text-align: center;
    margin: auto 0;
    margin-left: 5vw;
}

.downloadIcons {
    align-items: center;
    width: 30vh;
    height: 10vh;
    margin: 0;
}
.downloadButtons{
    margin-top: 2vh;
}
